@import 'bourbon/bourbon';

@import 'mixins/mixins';

$openSans: "Open Sans";
$merriweather: "Merriweather";
$navyBlueShade: #243040;
$magentaRedShade: #841016;

body{
	margin: 0;
	overflow-x: hidden;
}

a{
	text-decoration: none;
	color: black;
}

li{
	list-style: none;
}

$bg_color: darken(blue, 5%);
.csi-header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: $bg_color;
	@include MediaQuery(M){
		height: 70px;
	}
	@include transition(background-color 0.5s);
	z-index: 3;
}

.csi-nav-trigger{
	float: right;
	width: 54px;
	height: 100%;

	.csi-nav-icon{
	    position: absolute;
	    @include center(y);
	    right: 15px;
	    width: 25px;
	    height: 2px;
	    background-color: #ffffff;
	    @include transition(transform 0.5s - 0.2s, width 0.5s - 0.2s, top 0.3s);
		&::before, &:after {
			/* upper and lower lines of the menu icon */
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100%; 
			background-color: inherit;
			@include transition(transform 0.5s, width 0.5s - 0.2s);

		}

		&::before {
			@include transform-origin(right top);
			@include transform(translateY(-8px));
		}

		&::after {
			@include transform-origin(right bottom);
			@include transform(translateY(8px));
		}	    
	}


}

.csi-header-hide{
	background-color: transparent;
}

.trigger-open{

	.csi-nav-icon{
		background-color: transparent;
		@include transition(background-color .5s);
		&::before {
			width: 25px;
			background-color: white;
			@include transform(rotate(45deg));
			@include transform-origin(center center);
		}

		&::after {
			width: 25px;		
			background-color: white;	
			@include transform(rotate(-45deg));
			@include transform-origin(center center);
		}	    
	}

}

.csi-nav{
	position: fixed;
	z-index: 2;
	width: 0;
	height: 0;
	opacity: 0;
	visibility: hidden;
	overflow-x: hidden;
	font-size: 24px;
	font-family: $merriweather, serif;
	font-weight: bold;
	background-color: $magentaRedShade;
	transition:visibility 0s linear 0.5s,opacity 0.5s linear;
	li{
		margin-top: 15px;
		margin-bottom: 15px;
		a{
			color: $magentaRedShade * 3;

		}
		a:hover{
			color: white;
		}
	}
	@include MediaQuery(M){
		li{
			margin-top: 25px;
			margin-bottom: 25px;		
		}
	}
	.csi-nav-wrapper{
		position: absolute;
		padding-left: 5%;
		padding-right: 5%;
		padding-top: 100px;
		box-sizing: border-box;
		height: 100%;
		width: 100%;
		
		.csi-main-wrapper{
			display: block;

			@include MediaQuery(M){
				display: flex;
				@include justify-content(space-around);		
			}
			.csi-half-col{
				position: relative;
				font-size: 0.8em;
				@include MediaQuery(S){
					font-size: 1.1em;
				}
				height: auto;
				.csi-primary-nav{
					position: relative;
					
					text-align: center;

					@include MediaQuery(M){
						text-align: left;
						font-size: 1.4em;
					}

				}
				.csi-contact-info{
					position: relative;
					margin-top: 50px;
					text-align: center;
					font-size: 0.8em;

					@include MediaQuery(M){
						top: 0;
						right: 0;
						margin-top: 30px;
						text-align: right;
						margin-right: 20px;

					}
					
				}
				

			}
		}
		.csi-full-block{
			margin-top: 30px;
			position: relative;
			width: 100%;
			height: 80px;
			.csi-social-media-icons{
				height: 100%;
				display: flex;
				@include justify-content(space-around);
				position: relative;
				text-align: center;
				font-size: 25px;

				@include MediaQuery(S){
					font-size: 30px;
					display: block;
					li{
						display: inline-block;
						margin-right: 50px;
					}
					
				}
			}
		}
	}
}

.is-visible{
	width: 100%;
	height: 100vh;
	opacity: 1;
	visibility: visible;
	transition-delay:0s;
}


