body {
  margin: 0;
  overflow-x: hidden; }

a {
  text-decoration: none;
  color: black; }

li {
  list-style: none; }

.csi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #0000e6;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: 3; }
  @media only screen and (min-width: 768px) {
    .csi-header {
      height: 70px; } }

.csi-nav-trigger {
  float: right;
  width: 54px;
  height: 100%; }
  .csi-nav-trigger .csi-nav-icon {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 15px;
    width: 25px;
    height: 2px;
    background-color: #ffffff;
    -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
    -moz-transition: -moz-transform 0.3s, width 0.3s, top 0.3s;
    transition: transform 0.3s, width 0.3s, top 0.3s; }
    .csi-nav-trigger .csi-nav-icon::before, .csi-nav-trigger .csi-nav-icon:after {
      /* upper and lower lines of the menu icon */
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: inherit;
      -webkit-transition: -webkit-transform 0.5s, width 0.3s;
      -moz-transition: -moz-transform 0.5s, width 0.3s;
      transition: transform 0.5s, width 0.3s; }
    .csi-nav-trigger .csi-nav-icon::before {
      -webkit-transform-origin: right top;
      -moz-transform-origin: right top;
      -ms-transform-origin: right top;
      -o-transform-origin: right top;
      transform-origin: right top;
      -webkit-transform: translateY(-8px);
      -moz-transform: translateY(-8px);
      -ms-transform: translateY(-8px);
      -o-transform: translateY(-8px);
      transform: translateY(-8px); }
    .csi-nav-trigger .csi-nav-icon::after {
      -webkit-transform-origin: right bottom;
      -moz-transform-origin: right bottom;
      -ms-transform-origin: right bottom;
      -o-transform-origin: right bottom;
      transform-origin: right bottom;
      -webkit-transform: translateY(8px);
      -moz-transform: translateY(8px);
      -ms-transform: translateY(8px);
      -o-transform: translateY(8px);
      transform: translateY(8px); }

.csi-header-hide {
  background-color: transparent; }

.trigger-open .csi-nav-icon {
  background-color: transparent;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .trigger-open .csi-nav-icon::before {
    width: 25px;
    background-color: white;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }
  .trigger-open .csi-nav-icon::after {
    width: 25px;
    background-color: white;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center; }

.csi-nav {
  position: fixed;
  z-index: 2;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  font-size: 24px;
  font-family: "Merriweather", serif;
  font-weight: bold;
  background-color: #841016;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear; }
  .csi-nav li {
    margin-top: 15px;
    margin-bottom: 15px; }
    .csi-nav li a {
      color: #ff3042; }
    .csi-nav li a:hover {
      color: white; }
  @media only screen and (min-width: 768px) {
    .csi-nav li {
      margin-top: 25px;
      margin-bottom: 25px; } }
  .csi-nav .csi-nav-wrapper {
    position: absolute;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 100px;
    box-sizing: border-box;
    height: 100%;
    width: 100%; }
    .csi-nav .csi-nav-wrapper .csi-main-wrapper {
      display: block; }
      @media only screen and (min-width: 768px) {
        .csi-nav .csi-nav-wrapper .csi-main-wrapper {
          display: flex;
          -webkit-box-pack: distribute;
          -moz-box-pack: distribute;
          box-pack: distribute;
          -webkit-justify-content: space-around;
          -moz-justify-content: space-around;
          -ms-justify-content: space-around;
          -o-justify-content: space-around;
          justify-content: space-around;
          -ms-flex-pack: distribute; } }
      .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
        position: relative;
        font-size: 0.8em;
        height: auto; }
        @media only screen and (min-width: 480px) {
          .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col {
            font-size: 1.1em; } }
        .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
          position: relative;
          text-align: center; }
          @media only screen and (min-width: 768px) {
            .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-primary-nav {
              text-align: left;
              font-size: 1.4em; } }
        .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
          position: relative;
          margin-top: 50px;
          text-align: center;
          font-size: 0.8em; }
          @media only screen and (min-width: 768px) {
            .csi-nav .csi-nav-wrapper .csi-main-wrapper .csi-half-col .csi-contact-info {
              top: 0;
              right: 0;
              margin-top: 30px;
              text-align: right;
              margin-right: 20px; } }
    .csi-nav .csi-nav-wrapper .csi-full-block {
      margin-top: 30px;
      position: relative;
      width: 100%;
      height: 80px; }
      .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
        height: 100%;
        display: flex;
        -webkit-box-pack: distribute;
        -moz-box-pack: distribute;
        box-pack: distribute;
        -webkit-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-justify-content: space-around;
        -o-justify-content: space-around;
        justify-content: space-around;
        -ms-flex-pack: distribute;
        position: relative;
        text-align: center;
        font-size: 25px; }
        @media only screen and (min-width: 480px) {
          .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons {
            font-size: 30px;
            display: block; }
            .csi-nav .csi-nav-wrapper .csi-full-block .csi-social-media-icons li {
              display: inline-block;
              margin-right: 50px; } }

.is-visible {
  width: 100%;
  height: 100vh;
  opacity: 1;
  visibility: visible;
  transition-delay: 0s; }

/*# sourceMappingURL=main_page.css.map */
